.homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContent {
  height: 100vh;
  width: 100vw;
}

video {
  height: 100%;
  width: 100%;
  margin: 0;
}

.videoFilter {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, .7);
  z-index: 1;
  position: absolute;
}

.homepage hr {
  height: .75rem;
  background-color: rgb(255, 205, 113);
  width: 5vw;
  justify-content: center;
  border: none;
  margin-top: 0;
}