.section fieldset{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
}

.section input {
  width: 100%;
  margin: .5rem 0 .5rem 0;
  height: 1.7rem;
  border-radius: 3px;
  background-color: aliceblue;
}

.section button {
  width: 100%;
  height: 2.5rem;
  background-color: #6495ed;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.section button:disabled {
  background-color: grey;
}

.section p {
  display: flex;
  color: #f00;
  font-weight: 500;
  justify-content: center;
}