.navbar {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: rgb(2, 32, 32);
  justify-content: space-between;
  box-shadow: 2px 1px 1px 0px lightgrey;
  flex-shrink: 0;
}

.navbar h1 a {
  margin: 1rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
}

.navbar h1 span {
  margin: 0.5rem;
  font-family: cursive;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.navbar ul li {
  margin: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li:hover {
  border-bottom: 1px solid gray;
}
