.navbar {
  display: flex;
  align-items: center;
  height: 5rem;
  /* background-color: rgb(0, 66, 92); */
  justify-content: space-between;
}

.navbar h1 {
  font-family: fantasy;
  margin-left: 1rem;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.navbar div a {
  text-decoration: none;
  color: rgb(248, 111, 35);
  margin-top: -3rem;
}

.navbar div {
  width: 15rem;
  height: 5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.navbar ul li {
  margin: 1rem;
  font-weight: 500;
  border-bottom: 1px dotted grey;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: rgb(248, 111, 35);
}

.navbar a:hover {
  text-decoration: none;
}

.navbar ul li:hover {
  border-bottom: 1px solid gray;
}

.navbar form {
  display: flex;
}

/* @media only screen and (max-width: 900px) {
  .navbar ul {
    display: none;
  }
  .navbar form {
    flex-grow: 2;
  }
}

@media only screen and (min-width: 900px) {
  .navbar form{
    display: none;
  }
} */
