.servicesOffered {
  margin-top: 4rem;
  height: 75vh;
  width: 100vw;
}

.servicesOffered hr {
  height: .55rem;
  background-color: rgb(255, 205, 113);
  width: 5vw;
  justify-content: center;
  border: none;
  margin-top: 0;
}

.servicesTitle {
  margin-bottom: .75rem;
  font-size: 2rem;
  font-weight: 700;
}

.servicesTitle span {
  display: flex;
  justify-content: center;
}

.servicesContainer {
  background-color: rgb(219, 218, 216);
  height: inherit;
  width: inherit;
}