.container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container input, .container select {
  margin-bottom: 1rem;
}

.container button {
  margin-top: 1rem;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
}

.reviewsContainer p:hover {
  color: blue;
  border-bottom: .03rem solid blue;
  cursor: pointer;
}