.sidebar {
  display: flex;
}

.profile {
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.profile img {
  height: 4rem;
  /* box-shadow: 2px 2px 7px 2px rgba(33, 33, 34, 0.6); */
}

.sidebarIcons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebarIcons svg {
  font-size: 3rem;
  margin: 0;
  width: 100%;
}

.sidebarIcons svg:hover {
  cursor: pointer;
}