.sidebar {
  display: flex;
}

.profile {
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.imgProfile {
  width: 6rem;
  height: 4rem;
  border-radius: 100%;
}

.imgProfile img {
  height: inherit;
  border-radius: 100%;
  box-shadow: 2px 2px 7px 2px rgba(32, 32, 32, 0.6);
}

.sidebarIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebarIcons svg{
  font-size: 2.5rem;
  margin: 0;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

hr {
  margin: 0;
}

.sidebarIcons svg:hover {
  cursor: pointer;
  color: #000;
  background-color: rgb(231, 231, 231, .3);
}