.footer {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: rgb(247, 247, 247);
  box-shadow: 8px 2px 1px 2px lightgrey;
  border-top: 1px;
  justify-content: center;
  color: rgb(0, 81, 255);
  min-width: 100vw;
}