.main{
  text-align: center;
}

.prosContainer {
  display: flex;
}

.hairProfessionalsContainer {
  border: 1px solid #000;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
}

.stylestsContainer {
  display: flex;
  flex-wrap: wrap;
}

.stylestsContainer div {
  margin: .2rem;
}

.stylestsContainer h2 {
  font-size: 1.5rem;
}

.reviewsContainer {
  padding: .2rem;
  display: flex;
  flex-direction: column;
}

.reviewsContent {
  padding: .5rem;
}

.salonImage {
  margin: 0 auto;
  width: 40%;
  height: 15rem;
  border: 1px solid #000;
}

.reviewsComments {
  display: flex;
  /* border: .1rem solid #000; */
  padding-bottom: 2rem;
}

.salonImage img {
  width: 100%;
  height: 15rem;
}

.businessComponent button {
  width: 26rem;
  margin-top: 1rem;
}

.businessComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}